@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monserrat", sans-serif;
    font-size: 100%;
}
body{
    background-color: #00ae97;
    color: white;
}
header{
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: white;
}

/*Solo interfiere con las imagenes del header*/
header img{ 
    margin-top: 11px;
    width: 300px;
}
.contenedor{
    display: flex; /*para que las secciones queden una al lado de la otra*/
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000%;
    margin: 30px auto 30px;
}
.texto{
    max-width: 500px;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}
.imagenes, .volatil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imagenes img{ /*imagenes de la seccion imagenes*/
    width: 100px;
}
h1{
    font-size: 1.9em;
}
h2{
    font-size: 1.2em;
    font-weight: 100;
    margin: 10px auto;
    max-width: 400px; /*limita para que no supere el ancho de imagenes*/
    line-height: 1.5em;
}
.formulario{
    margin: 0 auto;
    max-width: 500px;
    width: 50%;
    padding: 0 20px;
}
.form{
    width: 100%;
    min-height: 535px;
    padding: 30px 20px;
    background-color: #043232;
    border-radius: 10px;
    margin: 0 auto;
}
h3{
    font-size: 1em;
    font-weight: 400;
    margin-top: 10px;
}
h4{
    font-size: 0.8em;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
}
li{
    list-style: none; /*desapareca la viñetas*/
}
label, input{
    font-size: 0.9em;
}
label {
    display: block; /*los input y los label se separan*/
    padding: 10px 0;
    margin-left: 3px;
}
label #calculo{
    font-size: 100%;
}
input[type="text"], input[type="email"]{
    width: 100%;
    height: 35px;
    border-radius: 5px;
}
input[type="button"]{
    background-color: indianred;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    margin: 20px 0;
    border: none;
}
p{
    margin-top: 10px;
    font-size: 0.7em;
}
@media(max-width: 870px){ /*para cuando se achique la pantalla todo se acomode*/
    .contenedor{
        display: block;
    }
    .texto{
        width:100% ;
    }
    .formulario{
        width: 98%;
        max-width: 403px;
        padding: 0;
    }
    .volatil{
        display: block;
    }
    .form{
        min-height: 510px;
    }
}